In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# Raw data file
file_to_load = r"C:\Users\ibilo\Desktop\homework\pandas homework\purchase_data.csv"

In [3]:
#read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [6]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [7]:
total_players = purchase_data["SN"].nunique()
total_players
#total_players_df = pd.DataFrame({
#    "Total Players": "total_players"
#})

576

In [8]:
#total players
num_unique_items = purchase_data["Item ID"].nunique()
num_unique_items

183

In [9]:
avg_price = purchase_data["Price"].mean()
avg_price

3.050987179487176

In [10]:
#number of purchase
num_purchase = purchase_data["Purchase ID"].count()
num_purchase

780

In [11]:
#total revenue
total_purchase = purchase_data["Price"].sum()
total_purchase

2379.77

In [12]:
#purchase analysis
purchase_analysis_df = pd.DataFrame({
    "Number of Unique Items": [num_unique_items],
    "Average Price": [avg_price],
    "Number of Purchases": [num_purchase],
    "Total Revenue": [total_purchase],
})
purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:,.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [13]:
#organized_df = purchase_analysis_df[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

In [14]:
#gender demographics
gender_count = purchase_data["Gender"]
gender_count

0                       Male
1                       Male
2                       Male
3                       Male
4                       Male
5                       Male
6                       Male
7                       Male
8                       Male
9      Other / Non-Disclosed
10                      Male
11                      Male
12                      Male
13                      Male
14                      Male
15                    Female
16                      Male
17                      Male
18                    Female
19                      Male
20                      Male
21                      Male
22     Other / Non-Disclosed
23                      Male
24                      Male
25                      Male
26                      Male
27                      Male
28                      Male
29                      Male
               ...
750                     Male
751                     Male
752                     Male
753                     Male
754                   Female
755                     Male
756                     Male
757                     Male
758                     Male
759                     Male
760                     Male
761                     Male
762                     Male
763                     Male
764                     Male
765                     Male
766                     Male
767                   Female
768                     Male
769                     Male
770                     Male
771                     Male
772                     Male
773                     Male
774                     Male
775                   Female
776                     Male
777                     Male
778                     Male
779                     Male
Name: Gender, Length: 780, dtype: object

In [15]:
gender_count1 = gender_count.value_counts()
gender_count1

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [16]:
gender_count1 / avg_price

Male                     213.701324
Female                    37.037193
Other / Non-Disclosed      4.916442
Name: Gender, dtype: float64

In [17]:
gender_count1 / num_purchase

Male                     0.835897
Female                   0.144872
Other / Non-Disclosed    0.019231
Name: Gender, dtype: float64

In [18]:
gender_count_df = pd.DataFrame(gender_count.value_counts())
gender_count_df = gender_count_df.rename(
    columns = {"Gender": "Total Count"})
gender_count_df

                       Total Count
Male                           652
Female                         113
Other / Non-Disclosed           15

In [19]:
purchase_data.loc[purchase_data["Gender"] == "Male"].count()

Purchase ID    652
SN             652
Age            652
Gender         652
Item ID        652
Item Name      652
Price          652
dtype: int64

In [20]:
total_count = purchase_data.count()
total_count

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [21]:
percent_gender = gender_count.value_counts() / gender_count.count()
percent_gender

Male                     0.835897
Female                   0.144872
Other / Non-Disclosed    0.019231
Name: Gender, dtype: float64

In [22]:
percent_gender = gender_count.value_counts() / gender_count.count()
percent_gender = percent_gender.map("{:,.2%}".format)
percent_gender

Male                     83.59%
Female                   14.49%
Other / Non-Disclosed     1.92%
Name: Gender, dtype: object

In [23]:
percent_gender_df = pd.DataFrame(percent_gender)
percent_gender_df.head()

                       Gender
Male                   83.59%
Female                 14.49%
Other / Non-Disclosed   1.92%

In [24]:
percent_gender_df = percent_gender_df.rename(
    columns = {"Gender": "percentage of players"})
percent_gender_df
percent_gender_df.reset_index().head()

                   index percentage of players
0                   Male                83.59%
1                 Female                14.49%
2  Other / Non-Disclosed                 1.92%

In [25]:
gender_count_df.reset_index().head()

                   index  Total Count
0                   Male          652
1                 Female          113
2  Other / Non-Disclosed           15

In [26]:
gender_count_df.columns

Index(['Total Count'], dtype='object')

In [27]:
gender_demographics_df = pd.DataFrame({
    "percentage of players": percent_gender,
    "Total Count": gender_count1,
})
gender_demographics_df.reset_index()
gender_demographics_df.head()

                      percentage of players  Total Count
Male                                 83.59%          652
Female                               14.49%          113
Other / Non-Disclosed                 1.92%           15

#be sure to review everything above before you proceed to the cells below.

In [28]:
#create bins and bin labels
#establish bins for ages 
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<19", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_bin = pd.cut(purchase_data ["Age"], age_bins, labels=group_names)
age_bin

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
5      20-24
6      35-39
7      20-24
8      20-24
9      35-39
10     20-24
11     20-24
12     20-24
13     20-24
14     35-39
15     20-24
16     20-24
17     20-24
18     20-24
19     30-34
20     20-24
21     20-24
22     35-39
23       40+
24     30-34
25     25-29
26     10-14
27       <19
28     20-24
29     20-24
       ...
750    20-24
751    10-14
752    15-19
753    35-39
754    20-24
755    10-14
756    20-24
757    15-19
758    20-24
759    25-29
760    20-24
761      40+
762    25-29
763    20-24
764    15-19
765    15-19
766    20-24
767      <19
768    35-39
769    15-19
770    30-34
771    15-19
772    25-29
773    20-24
774    10-14
775    20-24
776    20-24
777    20-24
778      <19
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<19 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [29]:
#reload the ptchase data at the top to not get an error
purchase_data["Age"] = pd.cut(purchase_data ["Age"], age_bins, labels=group_names)
purchase_data

purchase_data["Age"].value_counts()

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<19       23
40+       13
Name: Age, dtype: int64

In [30]:
bins_total_count = purchase_data["Age"].value_counts()
bins_total_count

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<19       23
40+       13
Name: Age, dtype: int64

In [31]:
bins_percent = bins_total_count / total_players
bins_percent = bins_percent.map("{:,.2%}".format)
bins_percent

20-24    63.37%
15-19    23.61%
25-29    17.53%
30-34    12.67%
35-39     7.12%
10-14     4.86%
<19       3.99%
40+       2.26%
Name: Age, dtype: object

In [32]:
age_bins_df = pd.DataFrame({
    "Percentage of Players": bins_percent,
    "Total Count": bins_total_count,
})
age_bins_df

      Percentage of Players  Total Count
20-24                63.37%          365
15-19                23.61%          136
25-29                17.53%          101
30-34                12.67%           73
35-39                 7.12%           41
10-14                 4.86%           28
<19                   3.99%           23
40+                   2.26%           13

#purchasing analysis Age

In [33]:
purchase_data1 = purchase_data
purchase_data1.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20-24,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40+,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,20-24,Male,92,Final Critic,4.88
3,3,Chamassasya86,20-24,Male,100,Blindscythe,3.27
4,4,Iskosia90,20-24,Male,131,Fury,1.44

In [34]:
grouped_avg_purchase = purchase_data1.groupby(["Age"])
grouped_avg_purchase1 = grouped_avg_purchase["Price"].mean()
#grouped_avg_purchase1

In [35]:
bins_total_count = purchase_data["Age"].value_counts()
bins_total_count

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<19       23
40+       13
Name: Age, dtype: int64

In [36]:
bins_percent = bins_total_count / total_players
bins_percent

20-24    0.633681
15-19    0.236111
25-29    0.175347
30-34    0.126736
35-39    0.071181
10-14    0.048611
<19      0.039931
40+      0.022569
Name: Age, dtype: float64

In [37]:
age_bins_df = pd.DataFrame({
    "Percentage of Players": bins_percent,
    "Total Count": bins_total_count,
})
age_bins_df["Percentage of Players"] = age_bins_df["Percentage of Players"].map("{:,.2%}".format)
age_bins_df

      Percentage of Players  Total Count
20-24                63.37%          365
15-19                23.61%          136
25-29                17.53%          101
30-34                12.67%           73
35-39                 7.12%           41
10-14                 4.86%           28
<19                   3.99%           23
40+                   2.26%           13

In [38]:
#Top spenders
grouped_purchase_by_name = purchase_data.groupby(["SN"])
grouped_purchase_by_name_sum = grouped_purchase_by_name["Price"].sum()
#grouped_purchase_by_name_sum

In [39]:
grouped_purchase_by_name_sum_df = pd.DataFrame({
    "Grouped Prices": grouped_purchase_by_name_sum
})
sorted_grouped_purchase_by_name_sum = grouped_purchase_by_name_sum_df.sort_values(by = "Grouped Prices", ascending=False)
sorted_grouped_purchase_by_name_sum.head()

             Grouped Prices
SN
Lisosia93             18.96
Idastidru52           15.45
Chamjask73            13.83
Iral74                13.62
Iskadarya95           13.10

In [63]:
#convert the df to a series
group_purchase_by_gender = purchase_data.groupby(["Gender"])
grouped_purchase_by_name = purchase_data.groupby(["SN"])
total_value = purchase_data["Price"].sum
group_purchase_by_name_mean = purchase_data.groupby(["SN"]).mean()
#name_age_list = group_purchase_by_name_mean["Age"]
group_purchase_by_name_mean_price = group_purchase_by_name_mean["Price"]
name_count = purchase_data["SN"].value_counts()
grouped_purchase_by_name_sum = grouped_purchase_by_name["Price"].sum()
grouped_purchase_by_name_sum_df = pd.DataFrame({
    "Grouped Prices": grouped_purchase_by_name_sum
})
group_avg = group_purchase_by_gender["Price"].mean()
group_sum_avg = group_purchase_by_gender["Price"].sum()
grouped_grouped = purchase_data.groupby(["SN", "Price"])
grouped_grouped = grouped_grouped["Price"]

In [41]:
#get the name count
name_count = purchase_data["SN"].value_counts()
#name_count

In [65]:
total_value = purchase_data["Price"].sum
#total_value

In [43]:
total_avg = purchase_data["Price"].mean()
total_avg

3.050987179487176

#Gender demographics

In [61]:
gender_counts = purchase_data["Gender"]
gender_counts_new = purchase_data.groupby(["SN","Gender"]).count().reset_index()
gender_counts_unique = gender_counts_new["Gender"].value_counts()
gender_counts1 = gender_counts.value_counts()
total_count = purchase_data.count()
percent_gender = gender_counts_unique / total_players
percent_gender = percent_gender.map("{:,.2%}".format)
gender_demographics_df = pd.DataFrame({
    "Percentage of Players": percent_gender,
    "Total Count": gender_counts_unique,
})
gender_demographics_df.reset_index()
gender_demographics_df.head()

                      Percentage of Players  Total Count
Male                                 84.03%          484
Female                               14.06%           81
Other / Non-Disclosed                 1.91%           11

In [66]:
#purchasing analysis (Gender)
group_unique_avg = group_sum_avg / gender_counts_unique
group_unique_avg

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [86]:
purchase_a_df = pd.DataFrame({
    "Purchase Count": gender_counts1,
    "Average Purchase Price": group_avg,
    "Total Purchase Value": group_sum_avg,
    "Avg Purchase Total Per Person": group_unique_avg,
})

purchase_a_df["Average Purchase Price"] = purchase_a_df["Average Purchase Price"].map("${:,.2f}".format)
purchase_a_df["Avg Purchase Total Per Person"] = purchase_a_df["Avg Purchase Total Per Person"].map("${:,.2f}".format)
purchase_a_df["Total Purchase Value"] = purchase_a_df["Total Purchase Value"].map("${:,.2f}".format)
new_purchase_a_df = purchase_a_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Purchase Total Per Person"]]
new_purchase_a_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total Per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56